.page {
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 222, 38, 0.600)), to(rgba(164, 135, 55, 0.600))), url(../images/bg.jpeg);
    background-size: cover;
    background-position: bottom;
    position: relative;

    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 50%);
}